{
    "DEFAULT" : {        
        "PORT" : 8080,
        "DEBUG" : true,
        "OUTPUT_LOGFOLDER" : "./output_logs"
        

    },
    "FILESERVER" :{
        "IP" : "<YOUR_FILE_SERVER_IP>",
        "SCHEMA" : "http://",
        "PORT" : "5555"

    },
    "CORS" : {
        "CORS_HEADERS" : "Content-Type"
    }
   
    
}