{
    "DEFAULT" : { 
        "HOST" : "<YOUR_FILE_SERVER_IP>",
        "PORT" : 5555,
        "DEBUG" : true,
        "OUTPUT_LOGFOLDER" : "./output_logs",
        "UPDATEDLIST_INDAYS" : "<UPDATED_IN_DAYS>

    },
    "CORS" : {
        "CORS_HEADERS" : "Content-Type"
    },
    
    "DATABASE" : {  
    },
    "SQLALCHEMY" : {
    },
    
    "UPLOADFOLDER" : "../book"
    
}