{
    "DEFAULT" : { 
        "HOST" : "192.168.1.17",
        "PORT" : 5555,
        "DEBUG" : true,
        "OUTPUT_LOGFOLDER" : "./output_logs",
        "UPDATEDLIST_INDAYS" : 60

    },
    "CORS" : {
        "CORS_HEADERS" : "Content-Type"
    },
    
    "DATABASE" : {  
    },
    "SQLALCHEMY" : {
    },
    
    "UPLOADFOLDER" : "../book"
    
}